nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 90px;
    color: var(--text-light);
    transition: top 0.3s;
    .navigation {
        padding: 0 80px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 200px 1fr 200px;        
        align-items: center;
        .logo {
            height: 60px;
            img {
                height: 100%;
                width: auto;
            }
        }        
        .menu-section ul {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            border-radius: 75px;
            background: rgba(0, 0, 0,.3);
            backdrop-filter: blur(8px);
            overflow: hidden;
            li a {
                display: inline-block;
                padding: 8px 20px;
                font-size: .9rem;
                border-radius: 60px;
                position: relative;
                margin: 5px 6px;
                font-weight: 500;
                &.active {
                    background: var(--text-light);
                    color: var(--text-dark2 );
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 20%;
                    background: var(--text-light);
                    border-radius: inherit;
                    transition: all .3s ease-in-out;
                    z-index: -1;
                    opacity: 0;
                }
                &:hover {
                    color: var(--text-dark2);
                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
            
        }

        .action-section {
            display: flex;
            justify-content: flex-end;
            .get-in-touch {
                padding: 12px 25px;
                border-radius: 55px;
                outline: none;
                border: none;
                cursor: pointer;
                font-size: .9rem;
                color: var(--text-dark2);
                font-weight: 500;
                border: 1px solid rgba(0,0,0,.3);
            }
        }

        .hamburger-menu{   
            position: absolute;
            right: 15px;
            top:25px;
            width: 40px;                     
            .hamburger .line{
                width: 30px;
                height: 3px;
                background-color:var(--bg-light);
                display: block;
                margin: 6px auto;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border-radius: 12px;

                &:nth-of-type(1){
                    margin-top: 0;
                }
                &:nth-of-type(3){
                    margin-bottom: 0;
                }
            }

            .hamburger:hover{
                cursor: pointer;
            }

            /* ONE */

            #hamburger-1.is-active .line:nth-child(2){
                opacity: 0;
            }
            #hamburger-1.is-active .line:nth-child(1) {
                -webkit-transform: translateY(9px) rotate(45deg);
                -ms-transform: translateY(9px) rotate(45deg);
                -o-transform: translateY(9px) rotate(45deg);
                transform: translateY(9px) rotate(45deg);
            }

            #hamburger-1.is-active .line:nth-child(3) {
                -webkit-transform: translateY(-9px) rotate(-45deg);
                -ms-transform: translateY(-9px) rotate(-45deg);
                -o-transform: translateY(-9px) rotate(-45deg);
                transform: translateY(-9px) rotate(-45deg);
            }


        }

        @media (width < 1250px){
            grid-template-columns: 1fr 1fr;
            padding: 15px;
            .menu-section{
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .menu-section ul{
                flex-direction: column;
                padding: 45px 25px 25px;
                width: fit-content;
                border-radius: 25px;
                margin: 0;
                margin-left: auto;
                li{
                    display: none;
                }
            }
            .action-section{
                display: none;                
            }
        }
    }    
}

