.programs-events{      
    .pageBanner{
        img{
            object-position: 100% 25%;
        }
    }

    .pageContents{
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;    
        padding-top: 120px;        
    }

    .program-contents{    
        .header-content{
            margin-bottom: 45px;
        }
        .program-container {            
            display: flex;
            flex-direction: column;
            gap: 1rem;            
            .program-item {                               
                border-radius: 0.375rem;
                color: var(--text-light);
                overflow: hidden;
                transition: all .5s ease;
                &.bg-light{
                    background: rgba(68, 68, 68, .7); 
                }
                &.bg-dark{
                    background: rgba(68, 68, 68, .8); 
                }

                .program-question {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 1.25rem;
                    background: none;
                    border: none;
                    color: inherit;
                    cursor: pointer;
                    scroll-margin-top: 280px;
                    svg{
                        transform: rotate(-90deg);
                        transition: all .3s ease;
                    }
                    h2 {
                        font-family: var(--font-bold);
                        font-size: var(--font-size5);                        
                    }
                    &.active svg{
                        transform: rotate(0);
                    } 
                }
                .program-question.active + .program-answer{
                    max-height: 550px;
                    opacity: 1;
                    transform: translateY(0);
                    padding-bottom: 1rem;
                }
                .program-answer {
                    max-height: 0;
                    overflow: hidden;
                    transform: translateY(1rem);
                    opacity: 0;
                    padding: 0 1rem;
                    color: var(--text-light);
                    transition: all 0.3s ease-in-out;

                    display: grid;
                    grid-template-columns: 1fr .7fr;
                    gap: 10%;
                    .left{
                        height: 450px;
                        width:100%;
                        border-radius:  0.375rem;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;                            
                        }
                    }
                    .right{
                        position: relative;
                        .title{
                            font-size: var(--font-size3);
                            font-family: var(--font-bold);
                            margin-bottom: 15px;
                        }
                        p{
                            max-width: 80%;
                        }
                        align-self: flex-end;
                        .action-group{
                            display: flex;
                            gap: 12px;
                        }
                        .index{
                            position: absolute;
                            font-size:150px;
                            font-family: var(--font-bold);
                            top: -80%;
                            right: 10%;
                            opacity: .1;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    
    .header-content {
        justify-content: space-between;
        align-items: center;        
        margin-bottom: 15px;
        margin-top: 25px;
        display: flex;
        .description {
            align-self: center ;
        }
    }

    .contentSwitch{                
        margin-top: 80px;
        .switch-buttons{
            display: flex;
            gap: 15px;
            .btn-primary{
                border-color: var(--text-dark);
                color: var(--text-dark);

                &.active{
                    color: var(--text-light);
                    background: var(--bg-dark);
                }
            }
        }

        .main-contents{

            .underline{
                margin: 0;
                background: var(--text-dark2);
                opacity: .2;
            }
            .blog-contents{

                .blog-card{
                    min-height: 250px;
                    position: relative;                    
                    padding: 55px 5px;                   
                    .image {                                     
                        position: absolute;
                        top: 0;
                        right: 0;                 
                        opacity: 0;                      
                        height: 100%;     
                        width: 55%;  
                        transition: all .5s ease;     
                        img{            
                            height: 100%;                    
                            width: 100%;                                                      
                            object-fit: cover;

                            -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
                            -webkit-mask-repeat: no-repeat;
                            -webkit-mask-size: 100% 100%;
                            
                            mask-image: linear-gradient(to left, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
                            mask-repeat: no-repeat;
                            mask-size: 100% 100%;
                        }
                    }
                    .text-contents{
                        position: relative;
                        z-index: 5;
                        display: grid;    
                        grid-template-columns: 1fr .4fr;
                        gap: 45px;                    
                    }
                    &:hover .image{
                        opacity: .6;
                    }

                    .text-left{
                        .blog-tags{
                            display: flex;
                            gap: 12px;
                            margin-bottom: 25px;
                            .tag{
                                border: 1px solid var(--text-dark);
                                padding:8px 10px;
                                border-radius: 24px;
                                font-size: clamp(.7rem, 25vw, .8rem);
                            }
                        }
                        .blog-title{
                            font-family: var(--font-bold);
                            font-size: var(--font-size3);
                            margin-bottom: 15px;
                        }
                        .blog-description{
                            max-width: 80%;
                            font-size: .9rem;                            
                        }
                    }

                    .text-right{
                        text-align: right;
                        font-size: .8rem;
                        font-weight: 900;
                    }
                }
            }

            .event-contents{
                .event-card{
                    padding: 35px 0;
                    display: grid;
                    grid-template-columns: 1fr .3fr;
                    gap: auto;
                    .action-group{
                        height: 100%;
                        display: flex;
                        gap: 12px;
                        justify-content: flex-end;
                        align-items: center;
                    }
                    .event-title{
                        font-family: var(--font-bold);
                        font-size: var(--font-size3);         
                        margin-bottom: 15px;                    
                    }
                    .event-price{
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                    .event-description{
                        max-width: 80%;
                        font-size: .9rem;
                        color: var(--text-dark2);
                    }  
                    .event-info{
                        display: flex;
                        align-items: center;
                        gap: 16px;          
                        margin-bottom: 25px;
                        span{
                            display: flex;  
                            align-items: center;
                            gap: 8px;   
                            font-weight: 700;                         
                        }              
                        img{
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
        }
    }

    .mentorship-page{
        margin-bottom: 120px;        
        .header-content{
            margin-bottom: 50px;
        }

        .page-contents{
            p, li{               
                font-size: .9rem; 
                color: var(--text-dark2);
            }
            & > p{                
                max-width: 850px;
                margin-bottom: 25px;
            }
            p:nth-of-type(1){
                max-width: 900px;
            }
            .paragraph-contents{
                padding: 20px 0 40px;
                display: flex;

                .left, .right{
                    width: 50%;
                }
                .left{
                    padding-right: 45px;
                }
                .right{
                    padding-left: 45px;
                    border-left: 1px solid rgba(68, 68, 68, .4);
                }

                .paragraph{
                    margin-bottom: 45px;
                    p{
                        margin-bottom: 12px;
                    }
                    .paragraph-title{
                        font-family: var(--font-bold);
                        font-size: var(--font-size3);
                        margin-bottom: 12px;
                    }
                    ul{
                        li{
                            margin-bottom: 12px;
                            &::before{
                                content: '-';
                                margin-right: 8px
                            }
                        }
                    }
                }
            }
        }
    }
}